.font-heading{
    font-family: 'Gotham', sans-serif;
}

body {
    font-size: 1rem;
    font-family: $font-family-sans-serif;
    @media(max-width: breakpoint-max("sm")) {
        font-size: 1.1rem;
    }
}

h1,
.h1 {
    letter-spacing: -.175rem;
}

h2,
h3,
.h2,
.h3 {
    letter-spacing: -.125rem;
}

h4,
h5,
.h4,
.h5{
    letter-spacing: -.06rem;
}

h6,
.h6{
    letter-spacing: -.03rem;
}


h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6{
    font-weight: 600;
    @extend .font-heading;
}
