@mixin animate($animation) {
	@extend .animated;
	@extend .#{$animation};
}

@mixin nav-variant($color, $value) {
	.nav-#{$color} {
		background-color: $value;
		color: color-yiq( $value );
        
		.nav-link.active {
			color: color-yiq($value);
            background: rgba(color-yiq($value), 0.05);
            box-shadow: inset 0px 1px 0px rgba(color-yiq($value), 0.075), inset 0px -1px 0px rgba(color-yiq($value), 0.075);
            
			.nav-icon {
				color: color-yiq($value);
			}
        }
        
		.nav-dropdown {
            
			background: linear-gradient(
				180deg,
				rgba(color-yiq($value), 0.1),
				rgba(color-yiq($value), 0.05)
			);

			.nav-link.active {
                background: rgba(color-yiq($value), 0.1);
                box-shadow: none;
			}
        }
        
		.nav-icon {
			color: rgba(color-yiq($value), 0.75);
		}

		.nav-btn {
			color: color-yiq($value);
			background: lighten($value, 5%);
		}
    }
    
	.nav-tabs.nav-#{$color} {
		.nav-link {
            border: 0;
            
			&:hover {
				border: 0;
			}
		}
	}
}
