@mixin nav-variant($color, $value) {
	.nav-#{$color} {
		background-color: $value;
		color: lighten(color-yiq($value), 15%);

		> .nav-item {
			> .nav-link.active {
				color: color-yiq($value);
				background: rgba(color-yiq($value), 0.2);

				.nav-icon {
					color: color-yiq($value);
				}
			}

		}

		.nav-dropdown {
			background: linear-gradient(
				180deg,
				rgba(color-yiq($value), 0.1),
				rgba(color-yiq($value), 0.05)
			);

			.nav-link.active {
				background: rgba(color-yiq($value), 0.2);
			}
		}

		.nav-icon {
			color: rgba(color-yiq($value), 0.75);
		}

		.nav-btn {
			color: color-yiq($value);
			background: lighten($value, 5%);
		}
	}

	.nav-tabs.nav-#{$color} {
		.nav-link {
			border: 0;

			&:hover {
				border: 0;
			}
		}
	}
}


@mixin nav-size-variant($size, $value) {
    .nav.nav-#{$size}{
        min-height: $value;
        
        .nav-space{
            height: $value;
        }
 
        > .nav-item{
            > .nav-link{
                height: $value;
            }
        }
    }
}
