<!DOCTYPE html>
<html class="cds-framework" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<link rel="stylesheet" href="../../assets/css/main.css" />
		<link rel="icon" href="../../assets/images/favicon-32x32.png" sizes="32x32" />
		<link rel="icon" href="../../assets/images/favicon-192x192.png" sizes="192x192" />
		<title>Dashboard Template</title>
	</head>

	<body>
		<!--[if lte IE 10]>
			<p class="browserupgrade">
				You are using an <strong>outdated</strong> browser. Please
				<a href="https://browsehappy.com/">upgrade your browser</a> to improve
				your experience and security.
			</p>
		<![endif]-->

		<div class="template template-dashboard">
			<aside id="aside-left" class="bg-white border-right">
				<ul class="nav nav-white nav-md flex-column">
					<li class="nav-item nav-header">Main Menu</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Link #1</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Link #2</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Link #3</a>
					</li>
					<li class="nav-item nav-header">Tools</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Link #1</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Link #2</a>
					</li>
				</ul>
			</aside>

			<aside id="aside-right" class="bg-white"></aside>

			<main id="main" class="slideout-responsive">
				<header>
					<div class="bg-primary">
						<div class="container">
							<ul
								class="nav nav-primary nav-lg align-items-center justify-content-end"
							>
								<li class="nav-item nav-space d-flex d-md-none">
									<a id="nav-toggle"><i class="fas fa-bars fa-2x"></i></a>
								</li>
								<li
									class="nav-item nav-space flex-fill d-md-flex  justify-content-center justify-content-md-start"
								>
									<h4 class="m-0">Application Name</h4>
								</li>

								<li class="nav-item">
									<ul class="nav nav-primary nav-lg justify-content-end">
										<li class="nav-item d-none d-md-flex">
											<a id="link-1" class="nav-link">Link #1</a>
										</li>
										<li class="nav-item d-none d-md-flex">
											<a class="nav-link">Link #2</a>
										</li>
										<li class="nav-item d-none d-md-flex">
											<a class="nav-link">Link #3</a>
										</li>
										<li class="nav-item nav-space" id="session-toggle">
											<a class="text-white" data-boundary="window" href="#"
												><i class="fas fa-user-circle fa-2x"></i
											></a>
											<div class="dropdown-menu p-0">
												<div class="card m-0">
													<div class="card-body">
														<div class="mb-2">
															<small>Username</small>
															<h6>mscott</h6>
														</div>
														<div>
															<small>Event</small>
															<h6>Master Medical 2018</h6>
														</div>
													</div>
													<div class="card-footer">
														<a
															class="btn btn-sm btn-primary d-inline-block"
															href="client-portal-event.html"
														>
															Change Event
														</a>
														<a
															class="btn btn-sm btn-danger d-inline-block"
															href="client-portal-login.html"
														>
															Logout
														</a>
													</div>
												</div>
											</div>
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</header>

				<section>
					<div class="card">
						<div class="card-body">
							<h3>Welcome to Application Name</h3>
							<hr />
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
								eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
								enim ad minim veniam, quis nostrud exercitation ullamco laboris
								nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
								in reprehenderit in voluptate velit esse cillum dolore eu fugiat
								nulla pariatur. Excepteur sint occaecat cupidatat non proident,
								sunt in culpa qui officia deserunt mollit anim id est laborum.
							</p>
						</div>
					</div>
				</section>

				<footer></footer>
			</main>
		</div>

		<script src="../../assets/js/jquery/jquery-3.3.1.min.js"></script>
		<script src="../../assets/js/bootstrap/bootstrap.bundle.min.js"></script>
		<script src="../../assets/js/jquery/plugins/bootstrap-select.js"></script>
		<script src="../../assets/js/jquery/plugins/flatpickr.js"></script>
		<script src="../../assets/js/jquery/plugins/datatables.js"></script>
		<script src="../../assets/js/jquery/plugins/slick.js"></script>
		<script src="../../assets/js/jquery/plugins/slideout.js"></script>
		<script src="../../assets/js/jquery/custom/overlay.js"></script>
		<script src="../../assets/js/jquery/custom/affix.js"></script>
		<script src="../../assets/js/jquery/custom/scroll.js"></script>
		<script src="../../assets/js/jquery/custom/refine.js"></script>
		<script src="../../assets/js/global.js"></script>

		<script>
			var slideLeft = plugins.slideout.create({
				menu: document.getElementById("aside-left"),
				panel: document.getElementById("main"),
				toggle: document.getElementById("nav-toggle"),
				side: "left",
			});

			var slideRight = plugins.slideout.create({
				menu: document.getElementById("aside-right"),
				panel: document.getElementById("main"),
				toggle: document.getElementById("session-toggle"),
				side: "right",
			});

			plugins.slideout.overlap(slideLeft, slideRight);
		</script>
	</body>
</html>
