.card {
	box-shadow: $box-shadow-sm;
    margin-bottom: 2rem;
    border: 1px solid $gray-400;
}

.tile .card{
    margin-bottom: 0;
}

.card-login{
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
