ul.filter {
    list-style-type: none;
    padding: 1.25rem;
    margin: 0;
    background-color: $gray-100;
    border: 1px solid $gray-300;
    border-radius: .5rem;

    li {
        padding: .5rem;
    }


    .filter-heading {
        @extend .h6;
        @include font-small;
        margin-bottom: 0;
        margin-top: .5rem;
        font-weight: 600;
        padding-bottom: 0;
        cursor: pointer;
    }
}
