.container{
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
  
    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }
