
.jumbotron{
    position: relative;
    margin: 0;
    overflow: hidden;
}

.jumbotron .jumbotron-background,
.jumbotron .jumbotron-image,
.jumbotron .jumbotron-body{
    position: relative;
}

.jumbotron .jumbotron-background{
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $darker;
    opacity: .75;
}

.jumbotron .jumbotron-image{
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(https://stg.xpressleadpro.com/portal/public/images/attendee-list.jpg);
    background-size: cover;
    background-position: center center; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    transition: transform .1s; 

    img{
        position: relative;
        max-width: 100%;
    }
} 

.jumbotron .jumbotron-body{
    z-index: 3;
    color: $light;
}


@media (min-width: breakpoint-min("sm")){
    .jumbotron {
        padding: 3rem 2rem;
    }
}
