// Base styles
.nav {
	min-height: 4.5rem;
	color: $dark;
    z-index: 1;
    
    .nav{
        min-height: auto;
    }
}

.nav a {
	color: inherit;
}

.nav-header {
	font-family: $headings-font-family;
	text-transform: uppercase;
	padding: 0.5rem 1.5rem;
	margin-top: 1rem;
	margin-bottom: 0;
	font-weight: 800;
}

.nav-toggle {
	cursor: pointer;
}

.nav-dropdown {
	list-style-type: none;
	padding: 0;
	margin: 0;
	box-shadow: $box-shadow-sm;
	position: absolute;
	background-color: $white;
	min-width: 260px;
	border: 1px solid $light;
	top: 0;
	left: auto;
	right: 100%;
}

.nav-link {
	padding: 1rem 1.5rem;
	align-items: center;
	cursor: pointer;
}

a.nav-link {
	width: 100%;
}

.nav-link.disabled {
	opacity: 0.6;
	cursor: not-allowed;
}

.nav-icon {
	margin-right: 0.5rem;
	color: $light;
}

.nav-item {
	position: relative;
	display: flex;
}

.nav-hover {
	.nav-item:hover {
		background: rgba($light, 0.5);
	}
}

// Nav Themes
.nav-dashboard {
	background-color: $primary;
	align-items: center;
	justify-content: space-between;
	@media (min-width: breakpoint-min("md")) {
		.nav-toggle {
			display: none;
		}
	}
}

aside .nav-dashboard {
	background-color: $primary-light;
}

@each $color, $value in $theme-colors {
	.nav-#{$color} {
		background-color: $value;

		.nav-item .nav-link {
			color: $white;
		}
	}
}

// Dropdown placement
.nav-left {
	top: 0;
	right: 200%;
	left: auto;
}

.nav-right {
	top: 0;
	left: 200%;
	right: auto;
}

.nav-top {
	bottom: 200%;
	top: auto;
	right: 0;
}

.nav-item:hover > .nav-dropdown {
	&.nav-left {
		right: auto;
		left: 100%;
	}

	&.nav-right {
		left: auto;
		right: 100%;
	}

	&.nav-top {
		top: 100%;
		bottom: auto;
	}
}
