// ul.nav
.nav {
	color: $dark;
	z-index: $zindex-dropdown;

	a {
		width: 100%;
	}

    .nav-space,
	.nav-link,
	.disabled {
		color: $dark;
	}


	.nav-toggle {
		cursor: pointer;
	}

	.nav-header {
		font-family: $headings-font-family;
		text-transform: uppercase;
		padding: 0.5rem 1.5rem;
		margin-top: 2rem;
        font-weight: 800;
	}

    .nav-space,
    .nav-link{
        padding: 0.75rem 1.5rem;
        color: inherit;
        display: flex;
        align-items: center;
    }

	.nav-link {
		&:hover {
			.nav-icon {
				@include animate("tada");
			}
		}

		&.active {
			.nav-icon {
				@include animate("tada");
				opacity: 1;
			}
		}

		&.disabled {
			opacity: 0.6;
			cursor: not-allowed;
		}

		.nav-icon,
		.nav-link-icon {
			margin-right: 0.5rem;
			opacity: 0.3;
		}
	}

	.nav-item {
		position: relative;
	}

	.nav.nav-dropdown {
		color: inherit;
		padding: 0.75rem;

		.nav-link.active {
			border-radius: 0.25rem;
        }

        .nav-item{
            width: 100%;
        }
	}

	.nav-btn {
        display: block;
		padding: 0.25rem 0.75rem;
		box-shadow: $box-shadow-sm;
		border-radius: 0.25rem;
    }
}


.nav.nav-tabs,
.nav.nav-pills {
	.nav-link.active {
		border-radius: 0.25rem;
	}
}


.nav.nav-md{
    min-height: 3.5rem !important;

    .nav-space,
    .nav-link{
        height: 3.5rem !important;
    }
}

.nav.nav-sm{
    min-height: 2.5rem !important;

    .nav-space,
    .nav-link{
        height: 2.5rem !important;
    }
}

.nav.nav-lg{
    min-height: 4.5rem !important;

    .nav-space,
    .nav-link{
        height: 4.5rem !important;
    }
}


@each $color, $value in $theme-colors {
	@include nav-variant($color, $value);
}

@each $color, $value in $colors {
	@include nav-variant($color, $value);
}
