

nav.nav,
nav.nav .container {
    display: flex;
    align-items: center;
    background-color: $gray-200;
    color: $dark;
    padding: 0;
    margin: 0 auto;

    height: 5rem;


    .nav-name {
        flex: 1;
        padding: 0 1rem;
    }


    .nav-toggle {
        padding: 1rem;
        padding-right: 0;
        display: none;
        cursor: pointer;
    }

    .nav-links {
        flex-direction: row;
    }

    .nav-links li:hover {
        cursor: pointer;
    }

    @media(max-width: breakpoint-max("sm")) {

        .nav-links {
            display: none;
        }

        .nav-toggle {
            display: block;
        }

        justify-content: space-between;
    }

}

nav.nav{
    padding: 0 1.5rem;
}

nav.nav .container{
    padding: 0;
}

.nav-links {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style-type: none;

    li {
        padding: 1rem;
    }
}

