.navbar {
	border-bottom: 1px solid $gray-400;
}

.navbar,
.navbar .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 5rem;
	background-color: $gray-200;
	padding: 0;
	color: $dark;
    position: relative;
    z-index: 2;

	img {
		max-width: 100%;
		width: 100%;
		height: auto;
	}

	.navbar-brand {
		max-width: 40px;
	}

	.navbar-user {
		> .btn {
			@extend .btn-primary;
			box-shadow: $box-shadow-sm;
			background-color: lighten($primary, 5%);
		}
	}

	.navbar-title {
		flex: 1;
		padding: 0 1rem;
	}

	.navbar-toggle {
		padding: 1rem;
		padding-right: 0;
		display: none;
		cursor: pointer;
	}

	@media (max-width: breakpoint-max("sm")) {
		.navbar-toggle {
			display: block;
		}

		ul.nav {
			display: none;
		}
	}
}

.navbar {
	padding: 0 1.5rem;
}

.navbar .container {
	padding: 0;
}

.navbar-links {
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}
