.template{
    display: flex;
    flex-direction: row;
    overflow-x: hidden;

    aside{
        width: $slideout-width;
        flex-shrink: 0;
        height: 100%;
        margin-left: -100%;
        background-color: $white;
        z-index: $zindex-popover;
        box-shadow: $box-shadow-sm;
        overflow-y: auto;
        overflow-x: hidden;
    }

    main{
        width: 100%;
    }
}

.template.template-dashboard{
    main{
        background: $gray-200;
    }
}
