body {
	@include font-base;
	font-size: 1rem;
	color: $gray-700;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	@include font-heading;
	font-weight: font-weight("lg");
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	margin: 0;
}

h1,
.h1 {
	letter-spacing: -0.1rem;
}

h2,
.h2 {
	letter-spacing: -0.075rem;
}

h3,
.h3 {
	letter-spacing: -0.05rem;
}

h4,
.h4 {
	letter-spacing: -0.025rem;
}


h6,
.h6 {
	text-transform: uppercase;
}

.font-heading {
	@include font-heading;
}

.font-body {
	@include font-base;
}

.font-inherit {
	font: inherit;
}

.font-thin {
	font-weight: 300;
}

@each $color, $value in $colors {
	.text-#{$color} {
		color: $value;
    }
    
	.bg-#{$color} {
		background-color: $value;
	}
}

@each $color, $value in $theme-colors {
	.text-#{$color} {
		color: $value;
    }
    
	.bg-#{$color} {
		background-color: $value;
	}
}
