//
// Color system
//

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$grays: ();
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
(
	"100": $gray-100,
	"200": $gray-200,
	"300": $gray-300,
	"400": $gray-400,
	"500": $gray-500,
	"600": $gray-600,
	"700": $gray-700,
	"800": $gray-800,
	"900": $gray-900,
),
$grays
);

$blue: #245fd8;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #c2352c;
$orange: #eb7532;
$yellow: #f6c913;
$green: #58b43c;
$teal: #20a58d;
$cyan: #17a2b8;

$colors: ();

$colors: map-merge(
(
	"blue": $blue,
	"indigo": $indigo,
	"purple": $purple,
	"pink": $pink,
	"red": $red,
	"orange": $orange,
	"yellow": $yellow,
	"green": $green,
	"teal": $teal,
	"cyan": $cyan,
	"white": $white,
	"gray": $gray-600,
	"gray-dark": $gray-800,
),
$colors
);

$primary: #004fa0;
$primary-light: lighten($primary, 5%);
$secondary: #20a58d;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-200;
$dark: #424651;
$darker: #232e39;

$theme-colors: ();

$theme-colors: map-merge(
(
	"primary": $primary,
	"primary-light": $primary-light,
	"secondary": $secondary,
	"success": $success,
	"info": $info,
	"warning": $warning,
	"danger": $danger,
	"light": $light,
	"dark": $dark,
),
$theme-colors
);

$transitions: (
"xs": 0.1s,
"sm": 0.2s,
"md": 0.3s,
"lg": 0.6s,
"xl": 1s,
); 

$font-weights: (
"xs": 100,
"sm": 200,
"md": 400,
"lg": 600,
"xl": 800,
);

$font-family-sans-serif: "Gotham Narrow Book", sans-serif;
$headings-font-family: "Gotham XNarrow", sans-serif;
$font-awesome: "Font Awesome 5 Free";
$body-color: $gray-800;
$component-active-bg: theme-color("secondary");
$link-color: theme-color("secondary") !default;
$slideout-width: 275px;
