.form-required {
	label {
		font-weight: 800;
		position: relative;
	}

	label:after {
		font-family: $font-awesome;
		content: "*";
		display: block;
		position: absolute;
		color: $red;
		font-weight: 800;
		top: 0.5rem;
		right: -0.75rem;
		line-height: 0;
	}
}

textarea {
	min-height: 6rem;
}
