.template {
	display: flex;
	flex-direction: row;
	overflow-x: hidden;
	min-height: 100vh;


	> main {
        width: 100%;
        min-height: 100vh;
		display: flex;
		flex-direction: column;
		background: url(../images/home-content-background.jpg);
		background-size: cover;
		background-repeat: no-repeat;
        background-attachment: fixed;

        > section{
            @extend .flex-fill;
            display: flex;
            flex-direction: column;
        }

        > footer{
            background: url(../images/footer-background.jpg);
            background-position: top center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}


.template.template-application{
    > main{
        background: $white;
    }
}
