.template {
	display: flex;
	flex-direction: row;
	overflow-x: hidden;
	min-height: 100vh;


	> main {
        width: 100%;
        min-height: 100vh;
		display: flex;
		flex-direction: column;
		background-image: url(../images/home-content-background.jpg);
		background-size: cover;
		background-repeat: no-repeat;
        background-attachment: fixed;

        > section{
            flex-grow: 1;
            padding: 3rem;

            &.section-center{
                display: flex;
                align-items: center;

                & > *{
                    width: 100%; // IE11 fix for flexbox overflow
                }
            }
        }

        > footer{
            background-image: url(../images/footer-background.jpg);
            background-position: top center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    &.template-application{
        > main{
            background-color: $white;
        }
    }

    &.template-dashboard{
        .taskbar.taskbar-dashboard{
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
}

@media (min-width: breakpoint-max("sm")) {
    .taskbar.taskbar-dashboard{
        margin-left: $slideout-width;
    }

}
