h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	@include font-heading;
	font-weight: font-weight("lg");
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	margin: 0;
}

h6,
.h6 {
	text-transform: uppercase;
}

.font-heading {
	@include font-heading;
}

.font-body {
	@include font-base;
}

.font-inherit {
	font: inherit;
}

@each $color, $value in $colors {
	.text-#{$color} {
		color: $value;
    }
}

@each $color, $value in $theme-colors {
	.text-#{$color} {
		color: $value;
    }
}
