@mixin nav-variant($color, $value) {
	.nav-#{$color} {
        
		background-color: $value;
		color: lighten(color-yiq($value), 15%);

		> .nav-item {
            > .nav-link{
                color: rgba(color-yiq($value), 0.66);
                transition: color .3s, background .3s, box-shadow .3s;
            }

			> .nav-link.active {
				color: rgba(color-yiq($value), .95);
				background: rgba(color-yiq($value), 0.15);
                transition: color .1s, background .1s, box-shadow .1s;
                
				.nav-icon {
					color: color-yiq($value);
				}
			}

        }
        
		.nav-icon {
			color: rgba(color-yiq($value), 0.75);
		}

		.nav-btn {
			color: color-yiq($value);
			background: lighten($value, 5%);
		}
	}

	.nav-tabs.nav-#{$color} {
		.nav-link {
			border: 0;

			&:hover {
				border: 0;
			}
		}
	}
}


@mixin nav-size-variant($size, $value) {
    .nav.nav-#{$size}{
        min-height: $value;
        
        .nav-space{
            height: $value;
        }
 
        > .nav-item{
            > .nav-link{
                height: $value;
            }
        }
    }
}
